s.rbx/
.bundle/
*.gem
.idea/
.rvmrc
*.swp
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/log/*.log
spec/dummy/tmp/
coverage
tags
Gemfile.lock
/nbproject/
/.git-rewrite/
/bin/**/*

# But not these files...
!.gitignore
!/bin/multi_cap
